@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* styles.css or inside a <style jsx global> block */
.custom-navbar {
  background-color: white;
  padding: 12px 24px;
  /* position: fixed; */
  top: 0;
  z-index: 1000;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  max-width: fit-content;
  margin: 20px auto;
}

.custom-navbar-container {
  display: flex;
  align-items: center;
  gap: 36px;
}

.navbar-logo {
  height: 30px;
  width: auto;
}

.navbar-links {
  display: flex;
  gap: 32px;
}

.navbar-links a {
  font-size: 14px;
  text-decoration: none;
  color: #111827;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #7c3aed;
}

.navbar-button {
  background: linear-gradient(to right, #9333ea, #7c3aed);
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  transition: background 0.3s ease;
}

.navbar-button:hover {
  background: linear-gradient(to right, #7c3aed, #6d28d9);
}

.apply{
  background-color: #6d28d9;
}
/* Custom input field styling */
.custom-date-input {
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}

/* Style for the calendar dropdown */
.mantine-DatePicker-calendar {
  width: 200px;
  height: 200px;
}






.mantine-Textarea-input {
  min-height:100px;
}

